swagger: "2.0"
info:
  title: "CAF Job Service"
  version: "1.0"
  description: |
    Allows background operations to be sent to the CAF Workers, and for the
    operations to be tracked and controlled.

    Users can check on the progress of operations, and even them to be
    cancelled, paused, or resumed.  *NB: Pause and Resume are future
    requirements.*

    The main use cases for this functionality centre around batch document
    processing.  The service can be used to send work to the Batch Worker, and
    then to track the progress of the work.
host: jobservice.caf.hpe.com
basePath: /caf-job-service/v1
tags:
  - name: Jobs
    description: Job Control
consumes:
  - application/json
produces:
  - application/json
paths:
  /jobs:
    parameters:
      - name: CAF-Correlation-Id
        in: header
        type: string
        description: |
          An identifier that can be used to correlate events that occurred
          across different CAF services
    get:
      tags:
        - Jobs
      summary: Gets the list of jobs
      description: Returns the list of job definitions defined in the system
      operationId: getJobs
      responses:
        200:
          description: Returns the list of jobs
          schema:
            type: array
            items:
              $ref: "#/definitions/job"
  /jobs/{jobId}:
    parameters:
      - name: CAF-Correlation-Id
        in: header
        type: string
        description: |
          An identifier that can be used to correlate events that occurred
          across different CAF services
      - name: jobId
        in: path
        type: string
        required: true
        description: The identifier of the job
    get:
      tags:
        - Jobs
      summary: Gets the specified job
      description: Retrieves information about the specified job
      operationId: getJob
      responses:
        200:
          description: Returns the job data
          schema:
            $ref: "#/definitions/job"
        404:
          description: The specified job is not found.
    put:
      tags:
        - Jobs
      summary: Adds a new job
      description:
        Creates the specified job using the job definition included in the http
        body
      operationId: createOrUpdateJob
      parameters:
        - name: newJob
          description: The definition of the job to create
          in: body
          required: true
          schema:
            $ref: "#/definitions/newJob"
      responses:
        200:
          description: Indicates that the job was successfully created
    delete:
      tags:
        - Jobs
      summary: Deletes the specified job
      description: Deletes the specified job from the system
      operationId: deleteJob
      responses:
        200:
          description: Indicates that the job was successfully deleted
definitions:
  newJob:
    type: object
    properties:
      name:
        type: string
        description: The name of the job
      description:
        type: string
        description: The description of the job
      externalData:
        # TODO: Should we make this more structured than just string
        #       Name/Value Pairs perhaps
        #       Or possibly even more structured than that - storing in xml
        #       would mean xpath searches could be done later
        type: string
        description:
          External data can be associated with the job for use by other
          components
      task:
        $ref: "#/definitions/worker-action"
  worker-action:
    type: object
    required:
      - taskClassifier
      - taskApiVersion
      - taskData
      - targetPipe
    properties:
      taskClassifier:
        type: string
      taskApiVersion:
        type: integer
        format: int32
      taskData:
        type: string
      taskDataEncoding:
        type: string
        default: utf8
        enum:
          - utf8
          - base64
      targetPipe:
        type: string
  job:
    type: object
    properties:
      id:
        type: string
        description: The job identifier
      name:
        type: string
        description: The name of the job
      description:
        type: string
        description: The description of the job
      externalData:
        type: string
        description:
          External data can be associated with the job for use by other
          components
      createTime:
        type: string
        format: date-time
        description: The time the job was created
      status:
        type: string
        description: The status of the job
        enum:
          - Active
          - Completed
          - Failed
      percentageComplete:
        type: number
        format: float
        description: Gives an indication of the progress of the job
      failures:
        type: array
        items:
          $ref: "#/definitions/failure"
        description: Job failure details
  failure:
    type: object
    properties:
      failureId:
        type: string
      failureTime:
        type: string
        format: date-time
      failureMessage:
        type: string
